{% extends 'layouts/project_base.html' %}
{% load static %}
{% load project_filters %}

{% block styles %}
<link rel="stylesheet" href="{% static 'projects/styles/detailPageStyles.css' %}">
{% endblock %}

{% block title %}{{ project.name }}{% endblock title %}

{% block content %}
<!-- Модальное окно для отображения изображения -->
<div id="fileModal" class="modal">
    <span id="closeFileModal" class="close">&times;</span>
    <img id="modalImage" class="modal-content">
    <iframe id="modalPdf" class="modal-pdf" frameborder="0"></iframe>
</div>

<section class="detail-content">
    <h1 class="detail-project-name">{{ project.name }}</h1> 
    <div class="detail-images-block">
        <!-- {% if project.file %}
        <img id="projectImage" class="detail-project-img" src="{{ project.full_file_path }}" alt="Файл проекта">
        {% else %}
        <img id="projectImage" class="detail-project-img" src="{% static 'images/logo.png' %}" alt="">
        {% endif %}     -->
        {% if project_photos|length > 0 %}
        {% for photo in project_photos|slice:":3" %}
        <form action="{% url 'project_detail_file_page' %}" method="post" class="detail-file-form">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ photo.id }}">
            <input type="hidden" name="type" value="photo"> 
            <input type="hidden" name="url" value="user_project_detail_page"> 

            <button type="submit" class="detail-file-button">
                <img id="projectImage" class="detail-project-img" src="{{ photo.full_file_path }}" alt="Файл проекта">                
            </button>

        </form>     
        
        {% endfor %}
        {% else %}
        <img id="projectImage" class="detail-project-img" src="{% static 'images/logo.png' %}" alt="">
        {% endif %}  
        
    </div>

    <div class="project-info">
        <h2>Описание проекта</h2>
        <div class="project-info-text">
        <p>{{ project.info }}</p>
        </div>
    </div>
    
</section>

   
<!-- {% if is_image %} -->
<!-- Отображаем изображение в маленьком размере с названием файла -->
<!-- <div class="detail-img-block">
    <img id="projectImage" class="detail-project-img" src="{{ project.full_file_path }}" alt="Файл проекта" onclick="openFile('img', '{{ project.full_file_path }}')">
    <span>{{ project.full_file_path|basename }}</span> 
</div> -->


<!-- {% elif is_pdf %} -->
<!-- <iframe src="{% static 'projects/ViewerJS/index.html' %}#{{ project.full_file_path }}" style="width:70%; height:600px;" frameborder="0"></iframe> -->
   <!-- Иконка PDF с возможностью открытия в ViewerJS -->
<!-- <div class="detail-pdf-block">
    <img id="projectPdf" class="detail-project-pdf" src="{% static 'projects/images/pdf.png' %}" alt="PDF файл" onclick="openFile('pdf', `{% static 'projects/ViewerJS/index.html' %}#{{ project.full_file_path }}`)" />
    <span>{{ project.full_file_path|basename }}</span>
</div>

<p>Если PDF не отображается, скачайте его <a href="{{ project.full_file_path }}">здесь</a>.</p>
{% else %}
<p>Неизвестный формат файла. Не удалось отобразить.</p>
{% endif %} -->



{% endblock content %}

{% block footerScripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'projects/scripts/script.js' %}"></script>
{% endblock footerScripts %}
