{% extends 'layouts/project_base.html' %}
{% load static %}
{% load project_filters %}
{% csrf_token %}

{% block styles %}
<link rel="stylesheet" href="{% static 'projects/styles/photoVideo.css' %}">
{% endblock %}

{% block title %}{{ project.name }}{% endblock title %}

{% block content %}
<section class="photo-video-section">
    <div class="photo-video-block">
        <h2 class="photo-video-title">Фотографии проекта {{ project.name }}</h2>
        <div class="all-photo-video">
            {% for photo in project_photos %}       
            <form action="{% url 'project_detail_file_page' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ photo.id }}">
                <input type="hidden" name="type" value="photo"> 
                <input type="hidden" name="url" value="project_photo_video_page"> 

                <button type="submit" style="background: none; border: none; padding: 0;">
                    <img class="photo-video-img" id="project_photo" src="{{ photo.full_file_path }}" alt="Фото проекта"
                    data-id="{{ photo.id }}" data-type="photo" data-url="projects/user/photo_video.html" data-token="{{ csrf_token }}">
                </button>

            </form>     
           
            {% endfor %}
        </div>
        
    </div>

    <div class="photo-video-block">
        <h2 class="photo-video-title">Все видео проекта {{ project.name }}</h2>
        <div class="all-photo-video">
            {% for video in project_videos %}       
            <form action="{% url 'project_detail_file_page' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ video.id }}">
                <input type="hidden" name="type" value="video"> 
                <input type="hidden" name="url" value="project_photo_video_page"> 

                <button type="button" class="video-button" style="background: none; border: none; padding: 0;">
                    <video class="photo-video-img" id="project_video" controls>    
                        <source src="{{ video.full_file_path }}" type="video/mp4">    
                    </video>    
                </button>
                    

            </form>     
           
            {% endfor %}
        </div>
       
       
    </div>

</section>

{% endblock content %}

{% block footerScripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

    document.querySelectorAll('.photo-video-img').forEach(video => {        
        // Добавление обработчика события на клик по видео    
        video.addEventListener('click', function(e) {        
            e.stopPropagation(); // Остановить всплытие события    
    
            // Отмена стандартного воспроизведения видео    
            if (this.paused) {
    
                this.play(); // Включите воспроизведение видео    
            } else {    
                this.pause(); // Остановите воспроизведение, например, если видео уже играет    
            }    
    
            // Отправка формы    
            this.closest('form').submit();     
        });       
    });    
</script>
<!-- <script>
    document.querySelectorAll('.photo-video-img').forEach(video => {    
        video.addEventListener('click', function(e) {    
            e.stopPropagation(); // Остановить всплытие события    
            this.closest('form').submit(); // Отправка формы    
        });    
    });    
</script> -->
<script src="{% static 'projects/scripts/script.js' %}"></script>


{% endblock footerScripts %}
