<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Сброс пароля</h2>
    <p>Введите новый пароль.</p>
    <form method="post">
        {% csrf_token %}
        <label for="new_password1">Новый пароль:</label>
        <input type="password" name="new_password1" required id="new_password1">
        
        <label for="new_password2">Повторите новый пароль:</label>
        <input type="password" name="new_password2" required id="new_password2">
        
        <button type="submit">Сбросить пароль</button>
    </form>
    <p><a href="{% url 'login' %}">Назад к входу</a></p>    
</body>
</html>