/* Нетбук и ноут */
@media (max-width: 1280px) and (min-width: 1024px) {

    .first-head-block {
        width: 25%;
    }

    .auth-header {        
        padding: 1em 3em;        
    }

    .head-logo-block {
        width: 8.7em;
        height: 3em;
    }    

    .logo-img {
        width: 100%;
        height: 100%;
    }

    .account {
        width: 12em;
    }

    .account-text {
        font-size: 1em;

    }

    .video-block, .photo-block {
        width: 300px;
        height: 173px;
        border-radius: 19.81px;       
    }

    .photo-video-block {
        width: 100%;       
    }

    .all-photo-video {        
        width: 39em;    
    }    

    * {
        /* scrollbar-width: 50px; */
        scrollbar-color: #a9a9a9 #808080;
    
    }

    .photo-video-title {        
        font-size: 1.25em;
    }
}

/* Планш */
@media (max-width: 1023px) and (min-width: 768px) {

    .auth-header {        
        padding: 1em 1.5em;        
    }

    .first-head-block {
        width: 32%;
    }

    .head-logo-block {
        width: 8.7em;
        height: 3em;
    }    

    .logo-img {
        width: 100%;
        height: 100%;
    }

    .account {
        width: 12em;
    }

    .account-text {
        font-size: 1em;
    }    

    .video-block, .photo-block {
        width: 200px;
        height: 127.14px;
        border-radius: 14.56px;       
    }

    .photo-video-block {
        width: 90%;       
    }

    .all-photo-video {        
        width: 26em;    
    }   
    
    .photo-video-title {        
        font-size: 1.125em;
    }   

}

/* Айфон */
@media (max-width: 450px) {

    .auth-header {        
        padding: 1em 1.5em;        
    }

    .first-head-block {
        width: 32%;
    }

    .head-logo-block {
        width: 20em;
        height: 2.75em;
    }    

    .logo-img {
        width: 100%;
        height: 100%;
    }

    .account {
        width: 9.5em;
    }

    .account-text {
        font-size: 0.875em;
    }

    .base-content {
        width: 100%;
    }

    .all-photo-video {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .photo-video-block {
        display: none;
    }

    .all-photo-video-block {
        display: block;
        width: 100%;
    }

    .video-block, .photo-block {
        width: 258px;
        height: 127.14px;
        border-radius: 14.56px;       
    }

    .photo-video-block {
        width: 90%;       
    }

    .all-photo-video {   
        height: 36.75em;     
        width: 100%;    
    }   
    
    .photo-video-title {        
        font-size: 1.125em;
    }   

    .photo-video-img {
        width: 100%;
        height: 85%;    
        object-fit: contain;
    }
  
}

/* Мобила мелкая */
@media (max-width: 350px) {

    .auth-header {        
        padding: 1em 1.5em;        
    }

    .first-head-block {
        width: 32%;
    }

    .head-logo-block {
        width: 20em;
        height: 2.75em;
    }    

    .logo-img {
        width: 100%;
        height: 100%;
    }

    .account {
        width: 9.5em;
    }

    .account-text {
        font-size: 0.875em;
    }  

    .base-content {
        width: 100%;
    }

    .all-photo-video {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .photo-video-block {
        display: none;
    }

    .all-photo-video-block {
        display: block;
        width: 100%;
    }

    .video-block, .photo-block {
        width: 258px;
        height: 127.14px;
        border-radius: 14.56px;       
    }

    .photo-video-block {
        width: 90%;       
    }

    .all-photo-video {   
        height: 36.75em;     
        width: 100%;    
    }   
    
    .photo-video-title {        
        font-size: 1.125em;
    }   

    .photo-video-img {
        width: 100%;
        height: 85%;    
        object-fit: contain;
    }
  
}

