{% extends 'layouts/admin_base.html' %}
{% load static %}
{% load project_filters %}

{% block styles %}{% endblock %}

{% block title %}{{ project.name }}{% endblock title %}

{% block content %}
<!-- Модальное окно для отображения изображения -->
<div id="fileModal" class="modal">
    <span id="closeFileModal" class="close">&times;</span>
    <img id="modalImage" class="modal-content">
    <iframe id="modalPdf" class="modal-pdf" frameborder="0"></iframe>
</div>

<h1>{{ project.name }}</h1>    
{% if is_image %}
<!-- Отображаем изображение в маленьком размере с названием файла -->
<div class="detail-img-block">
    <img id="projectImage" class="detail-project-img" src="{{ project.full_file_path }}" alt="Файл проекта" onclick="openFile('img', '{{ project.full_file_path }}')">
    <span>{{ project.full_file_path|basename }}</span> <!-- Отображаем название файла -->
</div>


{% elif is_pdf %}
<!-- <iframe src="{% static 'projects/ViewerJS/index.html' %}#{{ project.full_file_path }}" style="width:70%; height:600px;" frameborder="0"></iframe> -->
   <!-- Иконка PDF с возможностью открытия в ViewerJS -->
<div class="detail-pdf-block">
    <img id="projectPdf" class="detail-project-pdf" src="{% static 'projects/images/pdf.png' %}" alt="PDF файл" onclick="openFile('pdf', `{% static 'projects/ViewerJS/index.html' %}#{{ project.full_file_path }}`)" />
    <span>{{ project.full_file_path|basename }}</span>
</div>

<p>Если PDF не отображается, скачайте его <a href="{{ project.full_file_path }}">здесь</a>.</p>
{% else %}
<p>Неизвестный формат файла. Не удалось отобразить.</p>
{% endif %}
<a href="{% url 'admin_all_projects' %}">Назад к страницу все проекты</a>

<script src="{% static 'projects/scripts/script.js' %}"></script>

{% endblock content %}
