{% extends 'layouts/admin_base.html' %}
{% load static %}
{% csrf_token %}
{% load crispy_forms_tags %}

{% block styles %}
<link rel="stylesheet" href="{% static 'account/styles/register.css' %}">
{% endblock %}

{% block title %}
{% if update_user %}
Изменение пользователя
{% else %}
Создание пользователя
{% endif %}
{% endblock title %}

{% block content %}

<!-- {{ form }} -->
{% if user.is_superuser %}  
<main class="register-page">
    <div class="login-project-block">
        <div class="row">            
            <h2 class="register-main-title">Изменение пользователя 
                {{ project_user.name }} {{ project_user.surname }} {{ project_user.patronymic }}</h2>            
        </div>

        <!-- <h2>User {{ project_user.role }}</h2> -->

        <section class="main-section">
            <div class="form-block">
                <form id="user-edit-form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="field-rows">
                        <input type="text" name="name" class="form-control register-field" value="{{ project_user.name }}" placeholder="Имя">
                        <input type="text" name="surname" class="form-control register-field" value="{{ project_user.surname }}" placeholder="Фамилия">
                        <input type="text" name="patronymic" class="form-control register-field" value="{{ project_user.patronymic }}" placeholder="Отчество">
                    </div>

                    <div class="field-rows">
                        <input type="text" name="email" class="form-control register-field" value="{{ project_user.email }}" placeholder="Email">
                        <input type="file" name="avatar" class="register-avatar" id="register-avatar">    
                        {% if edit_type == 'user' %}                    
                        <button class="btn btn-success avatar-button register-field" id="avatar-button">Фото пользователя</button>
                        {% elif edit_type == 'admin' %}                    
                        <button class="btn btn-success avatar-button register-field" id="avatar-button">Фото администратора</button>
                        {% endif %}
                        {% if edit_type == 'user' %}
                        <select name="role" id="user-role" class="form-select register-field">
                            {% for role in user_roles %}
                            <option value="{{ role.name }}" {% if role.name == project_user.role %}selected{% endif %}>{{ role.label }}</option>
                            {% endfor %}                            
                        </select> 
                        {% endif %}      
                        
                        {% if edit_type == 'admin' %}
                        <input type="password" name="password" class="form-control register-field" placeholder="Пароль">
                        {% endif %}        
                    </div>

                    <div class="field-rows">
                        {% if edit_type == 'user' %}
                        <input type="password" name="password" class="form-control register-field" placeholder="Пароль">
                        {% endif %}                         

                    </div>
                    
                </form>
                {% if edit_type == 'user' %}
                <button id="change-user" class="btn btn-warning" type="submit"
                data-id="{{ project_user.id }}" data-token="{{ csrf_token }}">Изменить пользователя</button>
                {% elif edit_type == 'admin' %}
                <button id="change-user" class="btn btn-warning" type="submit"
                data-id="{{ project_user.id }}" data-token="{{ csrf_token }}" data-type="{{ edit_type }}">Сохранить изменении</button>
                {% endif %} 
    
            </div>

            <div class="info-block">
                <div class="avatar-preview-block">
                    {% if project_user and project_user.avatar %}
                     <img src="{{ project_user.full_avatar_path }}" alt="Аватар пользователя" class="avatar-preview-image">
                    {% endif %}
                </div>
                <button class="btn btn-danger" id="delete-user-avatar" data-update="{{ update_user }}"
                data-id="{{ project_user.id }}" data-token="{{ csrf_token }}">Удалить фото</button>

            </div>

        </section>
        
    </div>

</main>
{% else %}
<h2>Вы не администратор. Авторизуйтесь как администратор.</h2>
{% if user.is_active %}
{{ user }}    
<a href="{% url 'user_all_projects' %}">Все проекты</a>
<form method="post" action="{% url 'logout' %}" style="display: inline;">
    {% csrf_token %}
    <button type="submit">Выйти</button>
</form> 
{% else %}
<h2>Анонимный пользователь</h2>
<a href="{% url 'login' %}">Страница авторизации</a>
{% endif %}
{% endif %}


{% if form.errors %}
    <ul>
        {% for field in form %}
            {% for error in field.errors %}
                <li>{{ field.label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock content %}

{% block footerScripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'account/scripts/script.js' %}"></script>

{% endblock footerScripts %}






